body {
    font-family: "Apple SD Gothic Neo", sans-serif;
  padding: 0 12px;
  margin: 0;
  background: #F7F7F7;
}

li {
    font-size: 20px;
    line-height: 150%;
}


.list-item {
    margin-bottom: 8px;
}

.list-item:hover {
    background-color: Gainsboro;
    color: black;
    /*-ms-transform: scale(1.1); !* IE 9 *!*/
    /*-webkit-transform: scale(1.1); !* Safari 3-8 *!*/
    padding: 0 32px;
    transform: scale(1);
}
.sub-list-item{
    color: black;
    font-size: large;
    margin-bottom: 15px;
}

.sub-list-item:hover {
    color: black;
}

.sub-sub-list-item{
    color: black;
    font-size: medium;
    margin-bottom: 15px;
}

.sub-list-item-complete {
    text-decoration: line-through;
    color: lightslategrey;
}
p {
    font-weight: bold;
}

.biomed-table {
    display: block;
    border: solid black;
    width: 450px;
}

.title {
    border: solid thin black;
    border-collapse: collapse;
    width: 600px;
}

.current-titles {
    border: solid thin black;
    text-align: center;
    width: 200px;
}

.grade {
    border: solid thin black;
    text-align: center;
    width: auto;
}


/*.block,*/
/*li {*/
/*  border: 2px solid blue;*/
/*  padding: .5em;*/
/*}*/
/*.main_list {*/
/*    border-style: solid;*/
/*    color: #938E89;*/
/*  type-align: left;*/
/*  line-height: 24px;*/
/*  font-family: 'Raleway', sans-serif;*/
/*  font-size: 16px;*/
/*  font-weight: 400;*/
/*    padding: .5em;*/
/*}*/
